.footer {
    margin-top: 24%;
    height: 10000px;
    text-align: center;
    font-size: smaller;
}
.header {
    font-size: large;
}
.kompanijas_nosaukums {
    margin-left: 200px;
}
.kompanijas_numurs {
    margin-left:auto;
}
.numurs{
    margin-top: -65px;
    text-align: right;
    margin-right: 30px;
}
.sludinajumi {
    font-size: x-large;
    margin: 10px;
    text-decoration:none;
    background-color:none;

}
.pieslegites {
    font-size: x-large;
    margin: 10px;
    text-decoration:none;
    background-color:none;
}
.reģistrēties {
    font-size: x-large;
    margin: 10px;
    text-decoration:none;
    background-color:none;
}
.navbar {
    height: 50px;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

  }
.navbarteksts {
    text-align: center;
}