.footer {
    margin-top: 24%;
    height: 10000px;
    text-align: center;
    font-size: smaller;
}
.header {
    font-size: large;
}
.kompanijas_nosaukums {
    margin-left: 200px;
}
.kompanijas_numurs {
    margin-left:auto;
}
.numurs{
    margin-top: -65px;
    text-align: right;
}
.sludinajumi {
    font-size: larger;
    margin-left: 720px;
}
.pieslegites {
    font-size: larger;
    margin-top: -53px;
    margin-left: 900px;
}
.reģistrēties {
    font-size: larger;
    margin-top: -57px;
    margin-left: 1050px;
}
.navbar {
    height: 50px;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

  }
