.footer {
    margin-top: 24%;
    height: 192px;
    text-align: center;
    font-size: smaller;
    font-family: 'Inter', sans-serif;
}
.header {
    font-family: 'Inter', sans-serif;
}
.kompanijas_nosaukums {
    margin-left: 225px;
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
}
.pieslēgties, .pieslēgties_click{
    margin-top: -65px;
    text-align: right;
    margin-right: 30px;
    text-decoration: none;
    font-size: xx-large;
    color: black;
    font-family: 'Inter', sans-serif;
}
.sludinajumi, .sakums {
    font-size: xx-large;
    margin: 40px;
    text-decoration:none;
    color: white;
    font-family: 'Inter', sans-serif;

}
.navbar {
    height: 50px;
}
body, .html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;

  }
.navbarteksts {
    text-align: center;
    color: white;
    
}
.logo {
    height: 120px;
    width: 150px;
    margin-top: -80px;
    margin-left: 20px;
}
