<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../visuals/visual.css">
<link rel="stylesheet" href="../visuals/bodyvisual.css">
<header style="background-color:#9BA0BC;" class="header">
    <h1 class="kompanijas_nosaukums">VirginLogistics</h1> 
        <div class="numurs">
            <h1 class="kompanijas_numurs">+371 29440220</h1>
        </div>
</header>
<nav style="background-color:#55505C;" class="navbar">
    <div class="sludinajumi">
        <h1>Sludinājumi</h1>
    </div>
    <div class="pieslegites">
        <h1>Pieslēgties</h1>
    </div>
    <div class="reģistrēties">
        <h1>Reģistrēties</h1>
    </div>
</nav>
<body style="background-color:#9BA0BC;">
    <div class="par_mums">
    
    </div>
</body>
<footer style="background-color:#55505C;" class="footer">
    <h1>All copyright claims go to VirginLogistics</h1>
</footer>
</html>