{% extends 'layout.html' %}
{% set active_page = 'index' %}
{% block content %}
<section>
    <img class="log" src="/static/img/unknown.png">
    <div class="wrapper">
        <span><h1>Meklējiet vietu, kuru saukt par mājām?</h1><br>
            <span><h3>Mums ir tieši tas, ko meklējat!</h3><br>
                <a href="/listings"><button>Apskatīt sludinājumus</button></a>
            </span>
        </span>
    </div>
</section>
<div class="popsludbox">
    <h1 class="popslud">Populārākie sludinājumi</h1>
</div>
<div class="row">
    <div class="column">
        <img id ="image" src="/static/img/lejupielāde.jpg" alt="img">
        <h2 class="cityname">Rīga</h2>
        <h3 class="cityname">Plašs 2 istabu dzīvoklis pašā Rīgas sirdī - Ausekļa ielā 23</h3>
        <div class="container">  
            <button id ="btn">Apskatīt</button>  
        </div> 
    </div>
    <div class="column">
        <img id ="image" src="/static/img/lejupielāde.jpg" alt="img">
        <h2 class="cityname">Liepāja</h2>
        <h3 class="cityname">Plašs 2 istabu dzīvoklis pašā Rīgas sirdī - Ausekļa ielā 23</h3>
        <div class="container">  
            <button id ="btn">Apskatīt</button>  
        </div> 
    </div>
    <div class="column">
        <img id ="image" src="/static/img/lejupielāde.jpg" alt="img">
        <h2 class="cityname">Tukums</h2>
        <h3 class="cityname">Plašs 2 istabu dzīvoklis pašā Rīgas sirdī - Ausekļa ielā 23</h3>
        <div class="container">  
            <button id ="btn">Apskatīt</button>  
        </div> 
    </div>
</div>
{% endblock %}
    