<!DOCTYPE html>
<html style="background-color:#9BA0BC;" class="lapa">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bodyvisual.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='visual.css')}}">

<header style="background-color:#9BA0BC;" class="header">
    <br>
        <h1 class="kompanijas_nosaukums" >Virgin Logistics</h1> 
            <div class="pieslēgties">
                <a href='/login' class="pieslēgties">Pieslēgties</a>
            </div>
        <img src="/img/logo.png" class="logo"> 

</header>
<nav style="background-color:#55505C;" class="navbar">
    <div class="navbarteksts">
        <a class="sludinajumi" href='/index'>Sākums</a>
        <a>*</a>
        <a class="sludinajumi" href='/listings'>Sludinājumi</a>
    </div>
</nav>
{% block content %}

{% endblock %}
<footer style="background-color:#55505C;" class="footer">
    <h1>©2022 VirginLogistics</h1>
</footer>
</html>