<!DOCTYPE html>
<html style="background-color:#9BA0BC;" class="lapa">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bodyvisual.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='visual.css')}}">

<header style="background-color:#9BA0BC;" class="header">
    <br>
        <h1 class="kompanijas_nosaukums" >Virgin Logistics</h1> 
            <div class="numurs">
                <h1 class="kompanijas_numurs">+371 29440220</h1>
            </div>
        <img src="/img/logo.png" alt="Logo"> 


</header>
<nav style="background-color:#55505C;" class="navbar">
    <div class="navbarteksts">
        <a class="sludinajumi" href='/'>HOME(rename)</a>
        <a>*</a>
        <a class="sludinajumi" href='/home'>Sludinājumi</a>
        <a>*</a>
        <a class="pieslegites" href='/login'>Pieslēgties</a>
        <a>*</a>
        <a class="reģistrēties" href="/register">Reģistrēties</a>
    </div>
</nav>
{% block content %}

{% endblock %}
<footer style="background-color:#55505C;" class="footer">
    <h1>©2022 VirginLogistics</h1>
</footer>
</html>