<!DOCTYPE html>
<html style="background-color:#E6D4CA;" class="lapa">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bodyvisual.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='visual.css')}}">

<header style="background-color:#E6D4CA;" class="header">
    <br>
        <h1 class="kompanijas_nosaukums" >Virgin Logistics</h1> 
            <div class="pieslēgties">
                <a href='/login' class="pieslēgties_click">Pieslēgties</a>
            </div>
        <img class="logo" src="/static/img/logo.png"> 

</header>
<nav style="background-color:#353957;" class="navbar">
    <div class="navbarteksts">
        <a class="sakums" href='/index'>Sākums</a>
            <a>•</a>
        <a class="sludinajumi" href='/listings'>Sludinājumi</a>
            <a>•</a>
        <a class="rēķini" href="bill">Rēķini</a>
            <a>•</a>
        <a class="profils" href="profile">Profils</a>
            <a>•</a>
        <a class="parmums" href="about">Par mums</a>
    </div>
</nav>
{% block content %}

{% endblock %}
<footer style="background-color:#353957;" class="footer">
    <h1>©2022 Virgin Logistics</h1>
    <br>
    <h3>All copyright claims go to Virgin Logistics</h3>
</footer>
</html>