<!DOCTYPE html>
<html style="background-color:#9BA0BC;" class="lapa">
<link rel="stylesheet" href="../visuals/visual.css">
<link rel="stylesheet" href="../visuals/bodyvisual.css">
<header style="background-color:#9BA0BC;" class="header">
    <br>
        <h1 class="kompanijas_nosaukums" >Virgin Logistics</h1> 
            <div class="numurs">
                <h1 class="kompanijas_numurs">+371 29440220</h1>
            </div>
        <img src="/photo/firmas_logo.png" alt="Logo" class="Logo">
</header>
<nav style="background-color:#55505C;" class="navbar">
    <div class="navbarteksts">
        <a class="sludinajumi" href="/templates/sludinājumi.html">Sludinājumi</a>
        <a>*</a>
        <a class="pieslegites" href="/templates/pieslēgties.html">Pieslēgties</a>
        <a>*</a>
        <a class="reģistrēties" href="/templates/reģistrēties.html">Reģistrēties</a>
    </div>
</nav>
<body>
    <div class="par_mums">
    </div>
</body>
<footer style="background-color:#55505C;" class="footer">
    <h1>©2022 VirginLogistics</h1>
</footer>
</html>